@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-violet-pattern {
  background-size: 150px 150px;
  background-image: 
    linear-gradient(45deg, #e0e7ff 25%, transparent 25%),
    linear-gradient(135deg, #e0e7ff 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #c7d2fe 75%),
    linear-gradient(135deg, transparent 75%, #c7d2fe 75%);
  background-position: 0 0, 75px 0, 75px -75px, 0px 75px;
  background-color: #a5b4fc;
}
